.pytest_cache
.coverage
CryptoArbitrageApp.log
.mypy_cache
cred/*
!cred/api_test.json
results
src/__pycache__
*.csv
env
cov.xml
.vscode/.ropeproject
.scannerwork
**/.idea/workspace.xml
**/.idea/tasks.xml
env
.idea